<!DOCTYPE HTML>
<html>
	
	<head>
		<meta charset="utf-8" />
		<title>Студия Гейм-Плюс | Настройки аккаунта | Общее</title>
		<link rel="stylesheet" href="../static/css/pattern.css" />
		<link rel="stylesheet" href="../static/css/account.css" />
		<link rel="stylesheet" href="../static/css/general.css" />
	</head>
	
	<body>
		<header>
		  <nav>
		      <a href="/" class="logo"><img src="../static/images/logo.png" alt="логотип"></a>
			  <ul class="topmenu">
				<li><a href="games.html">Игры</a></li>
				<li><a href="reviews.html">Отзывы</a></li>
				<li><a class="submenu-link"><img src="../static/images/avatar.png" alt="аватарка"></a>
				  <ul class="submenu">
					<li><a href="account.html">Аккаунт</a></li>
					<li><a href="messages.html">Сообщения</a></li>
					<li><a href="control.html">Управление</a></li>
					<li><a href="login.html">Войти\Регистрация</a></li>
				  </ul>
				</li>
			  </ul>
		  </nav>
		</header>
		<section class="allgames">
			<div class="lists">
				<div class="games">
					<div class="widget">
						<h3>Аккаунт</h3>
						<ul>
						  <li><a href="account.html">Общее</a></li>
						  <li><a href="sequrity.html">Безопасность</a></li>
						  <li><a href="privates.html">Приватность</a></li>
						  <li><a href="nofitications.html">Уведомления</a></li>
						</ul>
					</div>
				</div>
				<div class="info">
					<div class="name">
						<h3>Общие настройки</h3>
					</div>
					<div class="description">
						<p><img src="../static/images/games/example.png" alt="Обложка" class="rightimg">
							<div class="fullname">
								<form class="nameform">
								   <p><strong>ФИО:</strong></p>
								   <p><input type="text" placeholder="Фамилия"></p>
								   <p><input type="text" placeholder="Имя"></p>
								   <p><input type="text" placeholder="Отчество"></p>
								   <p><button type="submit">Изменить</button></p>
								</form>
							</div>
							<div class="login">
								<form class="loginform">
								   <p><strong>Логин:</strong></p>
								   <p><input type="text" placeholder="Логин"></p>
								   <p><button type="submit">Изменить</button></p>
								</form>
							</div>
							<div class="address">
								<form class="addressform">
								   <p><strong>Адрес:</strong></p>
								   <p><input type="text" placeholder="Страна"></p>
								   <p><input type="text" placeholder="Регион"></p>
								   <p><input type="text" placeholder="Город"></p>
								   <p><input type="text" placeholder="Район"></p>
								   <p><input type="text" placeholder="Улица"></p>
								   <p><input type="text" placeholder="Дом"></p>
								   <p><input type="text" placeholder="Корпус"></p>
								   <p><input type="text" placeholder="Квартира"></p>
								   <p><button type="submit">Изменить</button></p>
								</form>
							</div>
							<div class="phone">
								<form class="phoneform">
								   <p><strong>Фотография профиля:</strong></p>
								   <p><input type="text" placeholder="Страна"></p>
								   <p><button type="submit">Обновить фото</button></p>
								</form>
							</div>
						</p>
					</div>
				</div>
			</div>
		</section>
	</body>
	
	<footer>
		<div class="copyright">
			<span>&copy; The Game + LLC 2019-2020</span>
		</div>
	</footer>
	
</html>