<!DOCTYPE HTML>
<html>
	
	<head>
		<meta charset="utf-8" />
		<title>Студия Гейм-Плюс | Настройки аккаунта | Общее</title>
		<link rel="stylesheet" href="../static/css/pattern.css" />
		<link rel="stylesheet" href="../static/css/control.css" />
		<link rel="stylesheet" href="../static/css/allgames.css" />
	</head>
	
	<body>
		<header>
		  <nav>
		      <a href="/" class="logo"><img src="../static/images/logo.png" alt="логотип"></a>
			  <ul class="topmenu">
				<li><a href="/games.html">Игры</a></li>
				<li><a href="/reviews.html">Отзывы</a></li>
				<li><a class="submenu-link"><img src="../static/images/avatar.png" alt="аватарка"></a>
				  <ul class="submenu">
					<li><a href="/account.html">Аккаунт</a></li>
					<li><a href="/messages.html">Сообщения</a></li>
					<li><a href="/control.html">Управление</a></li>
					<li><a href="/login.html">Войти\Регистрация</a></li>
				  </ul>
				</li>
			  </ul>
		  </nav>
		</header>
        <section class="selections">
			<div class="functions">
				<form class="searchform" method="get">
					<div class="sortblock">
						<p><strong>Сортировать по:</strong></p>
						<p>{{ filtred.ordering }}</p>
					</div>
					<div class="searchblock">
						<p><strong>Найти:</strong></p>
						<p>{{ filtred.search }}
						<button type="submit"></button></p>
					</div>
				</form>
			</div>
		</section>
		<section class="allgames">
			<div class="lists">
				<div class="sublinks">
					<div class="widget">
						<h3>Управление</h3>
						<ul>
						  <li><a href="/control.html">Аккаунты</a></li>
						  <li><a href="/contracts.html">Договора</a></li>
						  <li><a href="/allgames.html">Игры</a></li>
						  <li><a href="/alltasks.html">Технические задачи</a></li>
						</ul>
					</div>
				</div>
                <div class="games">

					{% for game in g_games %}
					{% include 'game_list_one.html' %}
					{% endfor %}

				</div>
				<div class="info">
					<div class="name">
						<h3>Игры - {{ mod }}</h3>
					</div>
					<div class="description">
						<p><img src="../{{ picture }}" alt="Отсутствует фото" class="rightimg">
							<div class="noteblock">
								<form class="noteform" method="post" enctype="multipart/form-data">
									{% csrf_token %}
								    <p><strong>Название:</strong></p>
								    <p>{{ form.name }}</p>
									<p><strong>Жанр:</strong></p>
								    <p>{{ form.type }}</p>
									<p><strong>Рейтинг:</strong></p>
								    <p>{{ form.rate }}</p>
									<p><strong>Правила:</strong></p>
								    <p>{{ form.rules }}</p>
									<p><strong>Дата выхода:</strong></p>
								    <p>{{ form.release_date  }}</p>
									<p><strong>Сайт:</strong></p>
								    <p>{{ form.site }}</p>
									<p><strong>Число пользователей:</strong></p>
								    <p>{{ form.number_of_rules }}</p>
									<p><strong>Цена для продажи:</strong></p>
								    <p>{{ form.price }}</p>
									<p><strong>Первоначальный бюджет разработки:</strong></p>
								    <p>{{ form.development_budget  }}</p>
									<p><strong>Изображение:</strong></p>
								    <p>{{ form.picture }}</p>
									<p><span style="color: red">{{ error }}</span></p>
								    <p><button type="submit">Отправить</button></p>
								</form>
								<a href="{{ game_id }}/delete">Удалить игру</a>
							</div>
						</p>
					</div>
				</div>
			</div>
		</section>
	</body>
	
	<footer>
		<div class="copyright">
			<span>&copy; The Game + LLC 2019-2020</span>
		</div>
	</footer>
	
</html>