<!DOCTYPE HTML>
<html>
	
	<head>
		<meta charset="utf-8" />
		<title>Студия Гейм-Плюс | Управление | Договора</title>
		<link rel="stylesheet" href="../static/css/pattern.css" />
		<link rel="stylesheet" href="../static/css/control.css" />
		<link rel="stylesheet" href="../static/css/contracts.css" />
	</head>

	<body>
		<header>
		  <nav>
		      <a href="/" class="logo"><img src="../static/images/logo.png" alt="логотип"></a>
			  <ul class="topmenu">
				<li><a href="/games.html">Игры</a></li>
				<li><a href="/reviews.html">Отзывы</a></li>
				<li><a class="submenu-link"><img src="../static/images/avatar.png" alt="аватарка"></a>
				  <ul class="submenu">
					<li><a href="/account.html">Аккаунт</a></li>
					<li><a href="/messages.html">Сообщения</a></li>
					<li><a href="/control.html">Управление</a></li>
					<li><a href="/confirm_exit.html">Выйти</a></li>
				  </ul>
				</li>
			  </ul>
		  </nav>
		</header>
        <section class="selections">
			<div class="functions">
				<form class="searchform" method="get">
					<div class="viewblock">
						<p><strong>Показать:</strong></p>
						<p>{{ filtred.watching }}</p>
					</div>
					<div class="sortblock">
						<p><strong>Сортировать по:</strong></p>
						<p>{{ filtred.ordering }}</p>
					</div>
					<div class="searchblock">
						<p><strong>Найти:</strong></p>
						<p>{{ filtred.search }}
						<button type="submit"></button></p>
					</div>
				</form>
			</div>
		</section>
		<section class="allgames">
			<div class="lists">
				<div class="sublinks">
					<div class="widget">
						<h3>Управление</h3>
						<ul>
						    {% if new >= 1 %}
							<li><a href="/control.html">Аккаунты</a></li>
							{% endif %}
						    <li><a href="/contracts.html">Договора</a></li>
							{% if new >= 1 %}
						    <li><a href="/allgames.html">Игры</a></li>
							{% endif %}
							<li><a href="/game_states.html">Стадии разработки игр</a></li>
							{% if new >= 1 %}
						    <li><a href="/alltasks.html">Технические задачи</a></li>
							{% endif %}
						</ul>
					</div>
					<p><span style="color: red">{{ message }}</span></p>
				</div>
                <div class="games">

					{% for contract in g_contracts %}
					{% include 'contract_one.html' %}
					{% endfor %}

				</div>
				{% if new >= 1 and mod == "добавление" or mod == "редактирование" %}
				<div class="info">
					<div class="name">
						<h3>Договора - {{ mod }}</h3>
					</div>
					<div class="description">
						<p>
							<div class="noteblock">
								<form class="noteform" method="post" enctype="multipart/form-data">
									{% csrf_token %}
								    <p><strong>Игра:</strong></p>
								    <p>{{ form.game_id }}</p>
									<p><strong>Дата подписания:</strong></p>
								    <p>{{ form.conclusion_date }}</p>
									<p><strong>Дата окончания:</strong></p>
								    <p>{{ form.contract_end_date }}</p>
									{% if new == 2 %}
									<p><strong>Работник:</strong></p>
								    <p>{{ form.employee_id }}</p>
									{% endif %}
									<p><strong>Клиент-оформитель:</strong></p>
								    <p>{{ form.client_id  }}</p>
									<p><strong>Дополнительные средства разработки:</strong></p>
								    <p>{{ form.development_full_price }}</p>
									<p><span style="color: red">{{ error }}</span></p>
								    <p><button type="submit">Отправить</button></p>
								</form>
								{% if mod == "редактирование" %}
								<a href="{{ note_id }}/delete">Удалить контракт</a>
								{% endif %}
							</div>
						</p>
					</div>
				</div>
				{% endif %}
			</div>
		</section>
	</body>
	
	<footer>
		<div class="copyright">
			<span>&copy; The Game + LLC 2019-2020</span>
		</div>
	</footer>
	
</html>