<!DOCTYPE HTML>
<html>
	
	<head>
		<meta charset="utf-8" />
		<title>Студия Гейм-Плюс | Управление | Аккаунты</title>
		<link rel="stylesheet" href="../static/css/pattern.css" />
		<link rel="stylesheet" href="../static/css/control.css" />
		<link rel="stylesheet" href="../static/css/allaccounts.css" />
	</head>
	
	<body>
		<header>
		  <nav>
		      <a href="/" class="logo"><img src="../static/images/logo.png" alt="логотип"></a>
			  <ul class="topmenu">
				<li><a href="/games.html">Игры</a></li>
				<li><a href="/reviews.html">Отзывы</a></li>
				<li><a class="submenu-link"><img src="../static/images/avatar.png" alt="аватарка"></a>
				  <ul class="submenu">
					<li><a href="/account.html">Аккаунт</a></li>
					<li><a href="/messages.html">Сообщения</a></li>
					<li><a href="/control.html">Управление</a></li>
					<li><a href="/confirm_exit.html">Выйти</a></li>
				  </ul>
				</li>
			  </ul>
		  </nav>
		</header>
        <section class="selections">
			<div class="functions">
				<form class="searchform" method="get">
					<div class="viewblock">
						<p><strong>Показать:</strong></p>
						<p>{{ filtred.watching }}</p>
					</div>
					<div class="sortblock">
						<p><strong>Сортировать по:</strong></p>
						<p>{{ filtred.ordering }}</p>
					</div>
					<div class="searchblock">
						<p><strong>Найти:</strong></p>
						<p>{{ filtred.search }}
						<button type="submit"></button></p>
					</div>
				</form>
			</div>
		</section>
		<section class="allgames">
			<div class="lists">
				<div class="sublinks">
					<div class="widget">
						<h3>Управление</h3>
						<ul>
						  	<li><a href="/control.html">Аккаунты</a></li>
						  	<li><a href="/contracts.html">Договора</a></li>
						  	<li><a href="/allgames.html">Игры</a></li>
							<li><a href="/game_states.html">Стадии разработки игр</a></li>
						  	<li><a href="/alltasks.html">Технические задачи</a></li>
						</ul>
					</div>
					<p><span style="color: red">{{ message }}</span></p>
				</div>
                <div class="games">

					{% for account in g_accounts %}
					{% include 'control_one.html' %}
					{% endfor %}

				</div>
				{% if new or mod == "редактирование" %}
				<div class="info">
					<div class="name">
						<h3>Аккаунты - {{ mod }}</h3>
					</div>
					<div class="description">
						<p><img src="../{{ avatar }}" alt="Отсутствует фото" class="rightimg">
							<div class="userblock">
								<form class="userform" method="post" enctype="multipart/form-data">
									{% csrf_token %}
								    <p><strong>ФИО:</strong></p>
								    <p>{{ form.full_name }}</p>
									<p><strong>Логин:</strong></p>
								    <p>{{ form.login }}</p>
									<p><strong>Пароль:</strong></p>
								    <p>{{ form.password }}</p>
									<p><strong>Телефон:</strong></p>
								    <p>{{ form.phone }}</p>
									<p><strong>Почта:</strong></p>
								    <p>{{ form.email }}</p>
									<p><strong>Уровень доступа:</strong></p>
								    <p>{{ form.access_level }}</p>
									<p><strong>Фотография профиля:</strong></p>
								    <p>{{ form.avatar }}</p>
									<p><span style="color: red">{{ error }}</span></p>
								    <p><button type="submit">Отправить</button></p>
								</form>
								<a href="{{ user_id }}/delete">Удалить аккаунт</a>
							</div>
						</p>
					</div>
				</div>
				{% endif %}
			</div>
		</section>
	</body>
	
	<footer>
		<div class="copyright">
			<span>&copy; The Game + LLC 2019-2020</span>
		</div>
	</footer>
	
</html>