<!DOCTYPE HTML>
<html>
	
	<head>
		<meta charset="utf-8" />
		<title>Студия Гейм-Плюс | Настройки аккаунта | Общее</title>
		<link rel="stylesheet" href="../static/css/pattern.css" />
		<link rel="stylesheet" href="../static/css/control.css" />
		<link rel="stylesheet" href="../static/css/contracts.css" />
	</head>
	
	<body>
		<header>
		  <nav>
		      <a href="/" class="logo"><img src="../static/images/logo.png" alt="логотип"></a>
			  <ul class="topmenu">
				<li><a href="games.html/0">Игры</a></li>
				<li><a href="reviews.html">Отзывы</a></li>
				<li><a class="submenu-link"><img src="../static/images/avatar.png" alt="аватарка"></a>
				  <ul class="submenu">
					<li><a href="account.html">Аккаунт</a></li>
					<li><a href="messages.html">Сообщения</a></li>
					<li><a href="control.html">Управление</a></li>
					<li><a href="login.html">Войти\Регистрация</a></li>
				  </ul>
				</li>
			  </ul>
		  </nav>
		</header>
        <section class="selections">
			<div class="functions">
				<div class="gameblock">
					<form class="gameform">
					   <p><strong>Показать:</strong></p>
					   <p><select class="gamesel" name="game">
						<option value="g1" selected>Все</option>
						<option value="g2">Заблокированные</option>
					   </select></p>
					</form>
				</div>
				<div class="sortblock">
					<form class="sortform">
					   <p><strong>Сортировать по:</strong></p>
					   <p><select class="sortsel" name="sort">
						<option value="s1" selected>Алфавиту</option>
						<option value="s2">Дате регистрации</option>
						<option value="s3">Количеству заказов</option>
						<option value="s4">Уровню доступа</option>
					   </select></p>
					</form>
				</div>
				<div class="searchblock">
					<form class="searchform">
					   <p><strong>Найти:</strong></p>
					   <p><input type="text" placeholder="Искать здесь...">
					   <button type="submit"></button></p>
					</form>
				</div>
			</div>
		</section>
		<section class="allgames">
			<div class="lists">
				<div class="sublinks">
					<div class="widget">
						<h3>Управление</h3>
						<ul>
						  <li><a href="control.html">Аккаунты</a></li>
						  <li><a href="contracts.html">Договора</a></li>
						  <li><a href="allgames.html">Игры</a></li>
						  <li><a href="alltasks.html">Технические задачи</a></li>
						</ul>
					</div>
				</div>
                <div class="games">
					<p class="example"></p>
				</div>
				<div class="info">
					<div class="name">
						<h3>Общие настройки</h3>
					</div>
					<div class="description">
						<p><img src="../static/images/games/example.png" alt="Обложка" class="rightimg">
							<div class="fullname">
								<form class="nameform">
								   <p><strong>ФИО:</strong></p>
								   <p><input type="text" placeholder="Фамилия"></p>
								   <p><input type="text" placeholder="Имя"></p>
								   <p><input type="text" placeholder="Отчество"></p>
								   <p><button type="submit">Изменить</button></p>
								</form>
							</div>
							<div class="login">
								<form class="loginform">
								   <p><strong>Логин:</strong></p>
								   <p><input type="text" placeholder="Логин"></p>
								   <p><button type="submit">Изменить</button></p>
								</form>
							</div>
							<div class="address">
								<form class="addressform">
								   <p><strong>Адрес:</strong></p>
								   <p><input type="text" placeholder="Страна"></p>
								   <p><input type="text" placeholder="Регион"></p>
								   <p><input type="text" placeholder="Город"></p>
								   <p><input type="text" placeholder="Район"></p>
								   <p><input type="text" placeholder="Улица"></p>
								   <p><input type="text" placeholder="Дом"></p>
								   <p><input type="text" placeholder="Корпус"></p>
								   <p><input type="text" placeholder="Квартира"></p>
								   <p><button type="submit">Изменить</button></p>
								</form>
							</div>
							<div class="phone">
								<form class="phoneform">
								   <p><strong>Фотография профиля:</strong></p>
								   <p><input type="text" placeholder="Страна"></p>
								   <p><button type="submit">Обновить фото</button></p>
								</form>
							</div>
						</p>
					</div>
				</div>
			</div>
		</section>
	</body>
	
	<footer>
		<div class="copyright">
			<span>&copy; The Game + LLC 2019-2020</span>
		</div>
	</footer>
	
</html>