{% block content %}

<div class="gameone">
    <div class="gametag">
        <div class="gamename">
            <p>{{ game.name }}</p>
        </div>
        <div class="gametype">
            <p>{{ game.type }}</p>
        </div>
    </div>
    <div class="gameother">
        <div class="gamerate">
            <p>{{ game.rate }}</p>
        </div>
        <div class="gamedate">
            <p>{{ game.release_date }}</p>
        </div>
        <div class="gameprice">
            <p>{{ game.price }} руб.</p>
        </div>
        <div class="more">
            <a>Подробнее>></a>
        </div>
    </div>
</div>

{% endblock %}