<!DOCTYPE HTML>
<html>
	
	<head>
		<meta charset="utf-8" />
		<title>Студия Гейм-Плюс | Игры</title>
		<link rel="stylesheet" href="../static/css/pattern.css" />
		<link rel="stylesheet" href="../static/css/games.css" />
	</head>
	
	<body>
		<header>
		  <nav>
		      <a href="/" class="logo"><img src="../static/images/logo.png" alt="логотип"></a>
			  <ul class="topmenu">
				<li><a href="/games.html">Игры</a></li>
				<li><a href="/reviews.html">Отзывы</a></li>
				<li><a class="submenu-link"><img src="../static/images/avatar.png" alt="аватарка"></a>
				  <ul class="submenu">
					<li><a href="/account.html">Аккаунт</a></li>
					<li><a href="/messages.html">Сообщения</a></li>
					<li><a href="/control.html">Управление</a></li>
					<li><a href="/login.html">Войти\Регистрация</a></li>
				  </ul>
				</li>
			  </ul>
		  </nav>
		</header>
		<section class="selections">
			<div class="functions">
				<div class="sortblock">
					<form class="sortform">
					   <p><strong>Сортировать по:</strong></p>
					   <p><select class="sortsel" name="sort">
						   <option value="s1" selected>Алфавиту</option>
						   <option value="s2">Дате выхода</option>
						   <option value="s3">Цене с дешёвой</option>
						   <option value="s4">Цене с дорогой</option>
					   </select></p>
					</form>
				</div>
				<div class="searchblock">
					<form class="searchform">
					   <p><strong>Найти:</strong></p>
					   <p><input type="text" placeholder="Искать здесь...">
					   <button type="submit"></button></p>
					</form>
				</div>
			</div>
		</section>
		<section class="allgames">
			<div class="lists">
				<div class="games">

					{% for game in g_games %}
					{% include 'game_one.html' %}
					{% endfor %}

				</div>
				<div class="about">
					{% for onegame in game_info %}
					<div class="name">
						<h3>{{ onegame.name }}</h3>
					</div>
					<div class="description">
						<p><img src="../{{ onegame.picture }}" alt="Обложка" class="rightimg">{{ onegame.rules|linebreaks }}</p>
						<p>Сайт: {{ onegame.site }}</p>
						<p>Число пользователей: {{ onegame.number_of_rules }}</p>
						<p>Бюджет разработки: {{ onegame.development_budget }} руб.</p>
					</div>
					<div class="buttonblock">
						<form>
							<button type="buy">Заказать</button>
						</form>
					</div>
					{% endfor %}
				</div>
			</div>
		</section>
	</body>
	
	<footer>
		<div class="copyright">
			<span>&copy; The Game + LLC 2019-2020</span>
		</div>
	</footer>
	
</html>