<!DOCTYPE HTML>
<html>
	
	<head>
		<meta charset="utf-8" />
		<title>Студия Гейм-Плюс | Игры</title>
		<link rel="stylesheet" href="../static/css/pattern.css" />
		<link rel="stylesheet" href="../static/css/games.css" />
	</head>
	
	<body>
		<header>
		  <nav>
		      <a href="/" class="logo"><img src="../static/images/logo.png" alt="логотип"></a>
			  <ul class="topmenu">
				<li><a href="games.html">Игры</a></li>
				<li><a href="reviews.html">Отзывы</a></li>
				<li><a class="submenu-link"><img src="../static/images/avatar.png" alt="аватарка"></a>
				  <ul class="submenu">
					<li><a href="account.html">Аккаунт</a></li>
					<li><a href="messages.html">Сообщения</a></li>
					<li><a href="control.html">Управление</a></li>
					<li><a href="login.html">Войти\Регистрация</a></li>
				  </ul>
				</li>
			  </ul>
		  </nav>
		</header>
		<section class="selections">
			<div class="functions">
				<div class="gameblock">
					<form class="gameform">
					   <p><strong>Показать:</strong></p>
					   <p><select class="gamesel" name="game">
						<option value="g1" selected>Игры</option>
						<option value="g2">Шаблоны</option>
					   </select></p>
					</form>
				</div>
				<div class="sortblock">
					<form class="sortform">
					   <p><strong>Сортировать по:</strong></p>
					   <p><select class="sortsel" name="sort">
						<option value="s1" selected>Алфавиту</option>
						<option value="s2">Дате выхода</option>
						<option value="s3">Заказчику</option>
						<option value="s4">Клиентам</option>
					   </select></p>
					</form>
				</div>
				<div class="searchblock">
					<form class="searchform">
					   <p><strong>Найти:</strong></p>
					   <p><input type="text" placeholder="Искать здесь...">
					   <button type="submit"></button></p>
					</form>
				</div>
			</div>
		</section>
		<section class="allgames">
			<div class="lists">
				<div class="games">
					<p class="example"></p>
				</div>
				<div class="about">
					<div class="name">
						<h3>Атака пришельцев</h3>
					</div>
					<div class="description">
						<p><img src="../static/images/games/example.png" alt="Обложка" class="rightimg">Как принято считать, предприниматели в сети интернет освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы,
						разумеется, объективно рассмотрены соответствующими инстанциями. В частности, консультация с широким активом прекрасно подходит для реализации 
						дальнейших направлений развития. Социально-экономическое развитие напрямую зависит от существующих финансовых и административных условий. Равным образом, 
						убеждённость некоторых оппонентов играет важную роль в формировании существующих финансовых и административных условий. Имеется спорная точка зрения, гласящая примерно следующее: сделанные на базе интернет-аналитики выводы могут быть указаны как претенденты на роль 
						ключевых факторов. Идейные соображения высшего порядка, а также сплочённость команды профессионалов требует анализа прогресса профессионального сообщества. 
						Значимость этих проблем настолько очевидна, что укрепление и развитие внутренней структуры не оставляет шанса для системы массового участия. Каждый из нас понимает 
						очевидную вещь: внедрение современных методик позволяет оценить значение экономической целесообразности принимаемых решений. Как принято считать, многие известные 
						личности, вне зависимости от их уровня, должны быть рассмотрены исключительно в разрезе маркетинговых и финансовых предпосылок. Вот вам яркий пример современных 
						тенденций - высокотехнологичная концепция общественного уклада играет важную роль в формировании кластеризации усилий. Внезапно, ключевые особенности структуры 
						проекта, инициированные исключительно синтетически, разоблачены. Сложно сказать, почему предприниматели в сети интернет неоднозначны и будут превращены в посмешище, 
						хотя само их существование приносит несомненную пользу обществу.Как принято считать, предприниматели в сети интернет освещают чрезвычайно интересные особенности картины в целом, однако конкретные выводы, 
						разумеется, объективно рассмотрены соответствующими инстанциями.</p>
					</div>
					<div class="buttonblock">
						<form>
							<button type="buy">Заказать</button>
						</form>
					</div>
				</div>
			</div>
		</section>
	</body>
	
	<footer>
		<div class="copyright">
			<span>&copy; The Game + LLC 2019-2020</span>
		</div>
	</footer>
	
</html>