<!DOCTYPE HTML>
<html>
	
	<head>
		<meta charset="utf-8" />
		<title>Студия Game-Plus</title>
		<link rel="stylesheet" href="../static/css/pattern.css" />
		<link rel="stylesheet" href="../static/css/main.css" />
	</head>
	
	<body>
		<header>
		  <nav>
		      <a href="/" class="logo"><img src="../static/images/logo.png" alt="логотип"></a>
			  <ul class="topmenu">
				<li><a href="games.html">Игры</a></li>
				<li><a href="reviews.html">Отзывы</a></li>
				<li><a class="submenu-link">
					{% if g_avatar == '' or g_avatar == None %}
					<img src="../static/images/avatar.png" alt="отсутствует аватарка">
					{% else %}
					<img src="../{{ g_avatar }}" alt="аватарка">
					{% endif %}
				</a>
				  <ul class="submenu">
					<li><a href="account.html">Аккаунт</a></li>
					<li><a href="messages.html">Сообщения</a></li>
					<li><a href="control.html">Управление</a></li>
					<li><a href="{{ link }}">{{ log }}</a></li>
				  </ul>
				</li>
			  </ul>
		  </nav>
		</header>
		<section class="main">
			<div class="main-block">
				<div class="aboutus">
					<h1>О нас</h1>
					<p>Добро пожаловать! Мы совершенно новая студия по разработке компьютерных игр. Вашему вниманию представляется сайт созданный 
					для заказа и осмотра продкутов, сделанных для наших клиентов. Закажите игру у нас по своим характеристикам. Если вы не знаете 
					что хотите сорздать, то закажите игру по шаблону у нас. Вы сможете найти много шаблонов в разделе заказа игр.</p>
				</div>
			</div>
			<div class="services">
				<div class="servdesc">
					<h2>Что мы предлагаем</h2>
					<p>Создание игр</p>
					<p>Лучшие технологии</p>
					<p>Красочные локации</p>
					<p>Проработка анимаций и сцен</p>
					<p>Полное общение</p>
					<p>Полная свобода действий</p>
				</div>
				<div class="servimg">
					<ul>
						<li><img class="effect" src="../static/images/main/services/beijing.jpg" alt="beijing"></li>
						<li><img class="effect" src="../static/images/main/services/paris.jpg" alt="paris"></li>
						<li><img class="effect" src="../static/images/main/services/new-york.jpg" alt="new york"></li>
						<li><img class="effect" src="../static/images/main/services/cape-town.jpg" alt="cape town"></li>
					</ul>
				</div>
			</div>
		</section>
	</body>
	
	<footer>
		<div class="copyright">
			<span>&copy; The Game + LLC 2019-2020</span>
		</div>
	</footer>
	
</html>