{% load poll_extras %}
<!DOCTYPE HTML>
<html>
	
	<head>
		<meta charset="utf-8" />
		<title>Студия Гейм-Плюс | Сообщения</title>
		<link rel="stylesheet" href="../static/css/pattern.css" />
		<link rel="stylesheet" href="../static/css/messages.css" />
	</head>
	
	<body>
		<header>
		  <nav>
		      <a href="/" class="logo"><img src="../static/images/logo.png" alt="логотип"></a>
			  <ul class="topmenu">
				<li><a href="/games.html">Игры</a></li>
				<li><a href="/reviews.html">Отзывы</a></li>
				<li><a class="submenu-link"><img src="../static/images/avatar.png" alt="аватарка"></a>
				  <ul class="submenu">
					<li><a href="/account.html">Аккаунт</a></li>
					<li><a href="/messages.html">Сообщения</a></li>
					<li><a href="/control.html">Управление</a></li>
					<li><a href="/confirm_exit.html">Выйти</a></li>
				  </ul>
				</li>
			  </ul>
		  </nav>
		</header>
		<section class="selections">
			<div class="functions">
				<form class="searchform" method="get">
					<div class="searchblock">
						<p><strong>Найти:</strong></p>
						<p>{{ filtred.search }}
						<button type="submit"></button></p>
					</div>
					{{ read }}
				</form>
			</div>
		</section>
		<section class="allmessages">
			<div class="lists">
				<div class="messages">
					{% if chats.count == 0 %}
						<div class="panel panel-body">Диалоги не найдены или отсутствуют</div>
					{% endif %}
					{% for chat in chats %}
						{% if chat.message_set.count != 0 %}
							{% with last_message=chat.message_set.last %}
								{% get_companion request chat as companion %}
								<a class="list-group-item" href="{{ chat.get_absolute_url }}">
									<img class="avatar-messages" src="/{{ companion.avatar }}">
									<div class="reply-body">
										<ul class="list-inline">
											<li class="drop-left-padding">
												<strong class="list-group-item-heading">{{ companion.full_name }}</strong>
											</li>
											<li class="pull-right text-muted"><small>{{ last_message.pub_date|date:"d.m.Y H:i" }}</small></li>
										</ul>
										{% if companion != last_message.sender_id %}
											<div>
												<div class="attached-reply-body">{{ last_message.letter|truncatechars_html:"200"|safe|striptags }}</div>
											</div>
										{% else %}
											<div>{{ last_message.letter|truncatechars_html:"200"|safe|striptags }}</div>
										{% endif %}
									</div>
								</a>
							{% endwith %}
						{% endif %}
					{% endfor %}
				</div>
				{% if chat %}
				<div class="about">
                    <div class="msglist">
							{% if chat %}
								<div id="messages" class="panel">
									<div id="innerMessages">
										{% for message in chat.message_set.all %}
												{% include 'message.html' with message_item=message %}
										{% endfor %}
									</div>
								</div>
							{% endif %}
                    </div>
                    <div id="message_form" class="send">
                        <form id="message-form" class="sendform" method="post">
							{% csrf_token %}
                            <p>{{ form.letter }}
                           <button type="submit" onclick="return ETextEditor.validateForm('message-form')"></button></p>
                        </form>
                    </div>
				</div>
				{% endif %}
			</div>
		</section>
	</body>
	
	<footer>
		<div class="copyright">
			<span>&copy; The Game + LLC 2019-2020</span>
		</div>
	</footer>
	
</html>