<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <title>Студия Гейм-Плюс | Формировнаие заказа</title>
        <link rel="stylesheet" href="../static/css/pattern.css" />
        <link rel="stylesheet" href="../static/css/newcontract.css" />
    </head>

    <body>
        <header>
		  <nav>
		      <a href="/" class="logo"><img src="../static/images/logo.png" alt="логотип"></a>
			  <ul class="topmenu">
				<li><a href="games.html">Игры</a></li>
				<li><a href="reviews.html">Отзывы</a></li>
				<li><a class="submenu-link"><img src="../static/images/avatar.png" alt="аватарка"></a>
				  <ul class="submenu">
					<li><a href="account.html">Аккаунт</a></li>
					<li><a href="messages.html">Сообщения</a></li>
					<li><a href="control.html">Управление</a></li>
					<li><a href="login.html">Войти\Регистрация</a></li>
				  </ul>
				</li>
			  </ul>
		  </nav>
		</header>
        <section>
            <div class="contract">
                <h1>Форма для составления контракта</h1>
                <form method="post">
					<input type="date">
					<input type="date">
					<input type="number">
					<input type="number">
					<button type="submit"></button>
                </form>
            </div>
        </section>
    </body>

    <footer>
		<div class="copyright">
			<span>&copy; The Game + LLC 2019-2020</span>
		</div>
	</footer>

</html>