<!DOCTYPE HTML>
<html>
	
	<head>
		<meta charset="utf-8" />
		<title>Студия Game-Plus | Отзывы</title>
		<link rel="stylesheet" href="../static/css/pattern.css" />
		<link rel="stylesheet" href="../static/css/reviews.css" />
	</head>
	
	<body>
		<header>
		  <nav>
		      <a href="/" class="logo"><img src="../static/images/logo.png" alt="логотип"></a>
			  <ul class="topmenu">
				<li><a href="/games.html">Игры</a></li>
				<li><a href="/reviews.html">Отзывы</a></li>
				<li><a class="submenu-link">
					{% if g_avatar == '' or g_avatar == None %}
					<img src="../static/images/avatar.png" alt="отсутствует аватарка">
					{% else %}
					<img src="../{{ g_avatar }}" alt="аватарка">
					{% endif %}
				</a>
				  <ul class="submenu">
					<li><a href="/account.html">Аккаунт</a></li>
					<li><a href="/messages.html">Сообщения</a></li>
					<li><a href="/control.html">Управление</a></li>
					<li><a href="/{{ link }}">{{ log }}</a></li>
				  </ul>
				</li>
			  </ul>
		  </nav>
		</header>
		<section class="selections">
			<div class="functions">
				<form class="searchform" method="get">
					<div class="sortblock">
						<p><strong>Сортировать по:</strong></p>
						<p>{{ filtred.ordering }}</p>
					</div>
					<div class="searchblock">
						<p><strong>Найти:</strong></p>
						<p>{{ filtred.search }}
						<button type="submit"></button></p>
					</div>
					{% if mod == "Редактировать" %}
					<div class="back">
						<p><a href="/reviews.html">Назад<<</a></p>
					</div>
					{% endif %}
				</form>
			</div>
		</section>
		<section class="allreviews">
			<div class="lists">
				<div class="reviews">

					{% for review in g_reviews %}
					{% include 'review_one.html' %}
					{% endfor %}

				</div>
				{% if "id_user" in request.session %}
				<div class="feedback">
					<div class="inputrev">
						<form method="post">
							{% csrf_token %}
							<h3 class="writetitle">{{ mod }} отзыв</h3>
							<span style="color: red">{{ message }}</span>
							{% if enable == 0 or enable == 1 %}
							<label for="id_review_text">Сообщение</label>
							{{ form.review_text }}
							<span style="color: red">{{ error }}</span>
							<button type="submit"></button>
							{% endif %}
							{% if enable == 1 or enable == 2 %}
							<a href="{{ review_id }}/delete" type="button"></a>
							{% endif %}
						</form>
					</div>
				</div>
				{% endif %}
			</div>
		</section>
	</body>
	
	<footer>
		<div class="copyright">
			<span>&copy; The Game + LLC 2019-2020</span>
		</div>
	</footer>
	
</html>