.userone {
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 20px;
}
.usertag {
    border-bottom: 1px solid black;
}
.usertag, .userother {
    display: table;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.usertag > div,
.usertag > noindex > div,
.userother > div,
.userother > noindex > div {
    display: table-cell;
    vertical-align: middle;
}
.username {
    width: 64.9%;
    border-right: 1px solid black;
    padding: 10px 10px 10px 20px;
    font-weight: bold;
}
.userlogin {
    float: right;
    padding: 10px 40px 10px 10px;
}
.username > p, .userlogin > p, .userrate > p, .userdate > p, .useremail > p, .more > p {
    margin: 0;
}
.userrate {
    width: 9.4%;
    border-right: 1px solid black;
    padding: 8px 10px;
}
.userdate {
    width: 39%;
    border-right: 1px solid black;
    padding: 8px 10px;
}
.userrate > p, .userdate > p {
    text-align: center;
}
.useremail {
    width: 15%;
    border-right: 1px solid black;
    padding: 8px 20px 8px 10px;
}
.more {
    float: right;
    padding: 8px 8px 8px 4px;
}
.useremail > p {
    text-align: right;
}
.rightimg  {
	width: 30%;
	height: 40%;
    float: right; /* Выравнивание по правому краю  */
    margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
}