.gameone {
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 20px;
}
.gametag {
    border-bottom: 1px solid black;
}
.gametag > div, .gameother > div {
    display: inline-block;
}
.gamename {
    width: 49%;
    border-right: 1px solid black;
    padding: 10px 10px 10px 20px;
    font-weight: bold;
}
.gametype {
    float: right;
    padding: 10px 40px 10px 10px;
}
.gamename > p, .gametype > p, .gamerate > p, .gamedate > p, .gameprice > p, .more > p {
    margin: 0;
}
.gamerate {
    width: 9.4%;
    border-right: 1px solid black;
    padding: 8px 10px;
}
.gamedate {
    width: 39%;
    border-right: 1px solid black;
    padding: 8px 10px;
}
.gamerate > p, .gamedate > p {
    text-align: center;
}
.gameprice {
    width: 25%;
    border-right: 1px solid black;
    padding: 8px 20px 8px 10px;
}
.more {
    float: right;
    padding: 8px 8px 8px 4px;
}
.gameprice > p {
    text-align: right;
}
.rightimg  {
	width: 30%;
	height: 40%;
    float: right; /* Выравнивание по правому краю  */
    margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
}