.taskone {
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 20px;
}
.tasktag, .taskother {
    border-bottom: 1px solid black;
}
.tasktag, .taskother, .taskchange {
    display: table;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.tasktag > div,
.tasktag > noindex > div,
.taskother > div,
.taskother > noindex > div,
.taskchange > div,
.taskchange > noindex > div {
    display: table-cell;
    vertical-align: middle;
}
.taskname {
    width: 49%;
    border-right: 1px solid black;
    padding: 10px 10px 10px 20px;
    font-weight: bold;
}
.taskdate {
    float: right;
    padding: 10px 40px 10px 10px;
}
.taskname > p, .taskdate > p, .taskrate > p {
    margin: 0;
}
.taskrate {
    padding: 8px 10px;
}
.more {
    width: 100%;
    padding: 8px 24px 8px 4px;
}
.more > a {
    float: right;
}
a {
    text-decoration: none;
}
textarea {
    resize: none;
}