.noteone {
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 20px;
}
.notetag {
    border-bottom: 1px solid black;
}
.notetag > div, .noteother > div {
    display: inline-block;
}
.notename {
    width: 49%;
    border-right: 1px solid black;
    padding: 10px 10px 10px 20px;
    font-weight: bold;
}
.noteemp {
    float: right;
    padding: 10px 40px 10px 10px;
}
.notename > p, .noteemp > p, .noterate > p, .more > p {
    margin: 0;
}
.noterate {
    width: 49%;
    border-right: 1px solid black;
    padding: 8px 10px;
}
.more {
    float: right;
    padding: 8px 8px 8px 4px;
}