.noteone {
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 20px;
}
.notetag, .noteother {
    border-bottom: 1px solid black;
}
.notetag, .noteother, .notechange {
    display: table;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.notetag > div,
.notetag > noindex > div,
.noteother > div,
.noteother > noindex > div,
.notechange > div,
.notechange > noindex > div {
    display: table-cell;
    vertical-align: middle;
}
.notename {
    width: 49%;
    border-right: 1px solid black;
    padding: 10px 10px 10px 20px;
    font-weight: bold;
}
.noteemp {
    float: right;
    padding: 10px 40px 10px 10px;
}
.notename > p, .noteemp > p, .notestart > p, .noteend > p, .notemoney > p, .noterate > p, .more > a {
    margin: 0;
}
.notestart, .noteend, .notemoney, .noterate {
    padding: 8px 10px;
}
.notestart, .noteend {
    width: 30%;
    border-right: 1px solid black;
}
.noterate {
    width: 49%;
    border-right: 1px solid black;
}
.more {
    float: right;
    padding: 8px 24px 8px 4px;
}
a {
    text-decoration: none;
}