.stateone {
    margin: 10px 0;
    border: 1px solid black;
    border-radius: 20px;
}
.statetag, .stateother {
    border-bottom: 1px solid black;
}
.statetag, .stateother, .statechange {
    display: table;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}
.statetag > div,
.statetag > noindex > div,
.stateother > div,
.stateother > noindex > div,
.statechange > div,
.statechange > noindex > div {
    display: table-cell;
    vertical-align: middle;
}
.statename {
    width: 40%;
    border-right: 1px solid black;
    padding: 10px 10px 10px 20px;
    font-weight: bold;
}
.statestartdate {
    width: 25%;
    border-right: 1px solid black;
    padding: 10px;
}
.stateenddate {
    float: right;
    padding: 10px 40px 10px 10px;
}
.statename > p, .statestartdate > p, .stateenddate > p, .staterate > p {
    margin: 0;
}
.staterate {
    padding: 8px 10px;
}
.more {
    width: 100%;
    padding: 8px 8px 8px 4px;
}
.more > a {
    float: right;
}
textarea {
    resize: none;
}